              
 /*     Importing Google fonts    */
 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

 
  /* Applying CSS to sphere */
 .tagcloud {
   display: none;

   top: 50vh;
   font-weight: bold;
   letter-spacing: 1px;
   font-family: 'Bebas Neue', cursive;  
   font-size: 1.5rem;
   z-index: 1000  ;
 }
 
 /* Change color of each text in sphere on hover   */
 .tagcloud--item:hover {
   color: #FFC300 ;
 }

 .tagcloud.show {
  display: contents;
}

 .Sphere span {color:black;cursor:pointer}
 
 .btn-pause{
  cursor: pointer;
 }
             
         