.landingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
  width: 50vw;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  /* border: 3px dashed green; */
  padding: 3% 2% 4% 2%;
}

.dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.dialog label {
  display: block;
  margin-bottom: 15px;
  text-align: center;
}

.dialog input[type="password"] {
  padding: 5px;
  width: 200px;
  margin-bottom: 10px;
}

.dialog button {
  padding: 8px 16px;

  border: none;
  cursor: pointer;
}

.warning-message {
  color: #f5f5f5;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  font-size: 18px;
  text-decoration: underline;

  opacity: 0; /* Inicialmente oculto */
  border-radius: 4px;
  animation: fadeIn 5s ease-in-out forwards; /* Animación de desvanecimiento */
}

/* Animación de desvanecimiento */
@keyframes fadeIn {
  to {
    opacity: 1; /* Al final de la animación, se muestra completamente */
  }
}
@media screen and (max-width: 768px) {
  .landingContainer {
    width: 90vw;
  }

  .dialog input[type="password"] {
    width: 80%;
  }

  .dialog button {
    font-size: 14px;
    padding: 8px 16px;
  }
  .warning-message {
    font-size: 14px;
    padding: 8px;
  }
}
/* Media query para pantallas medianas (entre 769px y 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .warning-message {
    font-size: 16px;
    padding: 12px;
  }
}

/* Media query para pantallas grandes (más de 1024px) */
@media (min-width: 1025px) {
  .warning-message {
    font-size: 18px;
    padding: 15px;
  }
}
