:root {
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-bg: #5f9ea0;
  --color-primary: #1a8fe3;
  --size-step-0: 1rem;
  --size-step-1: 1.25rem;
  --size-step-2: 1.56rem;
  --size-step-3: 1.95rem;
  --size-step-4: 2.43rem;
}

body {
  background: var(--color-bg);
  color: var(--color-dark);
  padding: 2em;
  font-family: Georgia, serif;
  font-size: var(--size-step-0);
}
h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 5px;
  letter-spacing: 0.05em;
}

p {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
  letter-spacing: 0.03em;
  font-size: 1em;
  line-height: calc(1ex / 0.32);
  margin: calc(1ex / 0.32) 0;

  width: 100%;
  max-width: 100%;
  text-align: justify;
}

.maintext {
  margin: auto;
  width: 50vw;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  /* border: 3px dashed green; */
  padding: 3% 2% 2% 2%;
}

.links-navegacion {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.links-navegacion a {
  padding: 10px 20px;
  background-color: #4a8c8f;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.links-navegacion a:hover {
  background-color: #3c6a6d;
}
/* Efecto Typewriter*/
#texto-oculto {
  display: none;
}

.button-container {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

#cargar-btn {
}
.boton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4a8c8f;
  color: white;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton:hover {
  background-color: #3c6a6d;
}

.boton-container {
  margin-top: 20px;
}
em {
  font-family: Helvetica;
  text-decoration: underline #290b0a;
}

em:hover {
  cursor: pointer;
  color: purple;
}

span {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .maintext {
    width: 90vw;
  }

  h1 {
    font-size: 1.2em;
  }

  p {
    font-size: 0.9em;
  }

  .links-navegacion {
    flex-direction: column;
    align-items: center;
  }

  .links-navegacion a {
    margin-top: 10px;
    padding: 8px 16px;
  }

  .boton {
    font-size: 14px;
    padding: 8px 16px;
  }
}
