#smokeText {
  /* animation: smokeAnimation 35s 1; */
}

@keyframes smokeAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  transition: opacity 10s ease-in-out;
  pointer-events: none;
}

.circle {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200vh;
  height: 200vh;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  filter: blur(20vh);
  opacity: 0;
  transition: opacity 45s ease-in-out;
  pointer-events: none;
}

span.activa {
  animation: smoke 2s linear forwards;
}

@keyframes smoke {
  0% {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0) translateY(0) rotate(0deg);
  }
  50% {
    opacity: 1;
    pointer-events: none;
  }
  100% {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(300px) translateY(-300px) rotate(720deg) scale(4);
  }
}
